:root{
    --font-family-Y:'Young Serif';
    --font-family-O:'Outfit';
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
    --font-size:16px;
    --weight4:400;
    --weight6:600;
    --weight7:700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Stone100);
  
}

.background{
    width: 35rem;
    background-color: var(--White) ;
    border-radius: 22px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 20px;
    max-width: 30rem;
}

.text{
    padding: 2rem 2.5rem 2rem 2.7rem;
}

h1{
    font-family: var(--font-family-Y);
    font-size: 1.8rem;
    font-weight: var(--weight4);
    margin-bottom: 1rem;
    color: var(--Stone900);
}

h2{
    font-family: var(--font-family-Y);
    font-weight: var(--weight4);
    color: var(--Brown800);
}
p{
    font-family: var(--font-family-O);
    color: var(--Stone600);
    font-size: .76rem;
    text-align: justify;
}

.prep{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--Rose50);
    max-width: 33rem;
    border-radius: 10px;
    padding: 17px;
    padding-left: 20px;
}

h3{
   font-family: var(--font-family-O);
   font-size: 1rem;
   color: var(--Rose800); 
}

.time{
    margin-left: 1.35rem;
    margin-top: 10px;
    line-height: 1.6rem;
}

li::marker{
    color: var(--Rose800);
    font-weight: var(--weight7);
    font-size: 11px;
    word-spacing: 1rem;
}

ol{
   font-family: var(--font-family-O); 
   color: var(--Stone600);
   font-size: .8rem;
}

ul{
    font-family: var(--font-family-O);
    color: var(--Stone600);
    font-size: .77rem;
}

.bdes{
    font-weight: var(--weight7);
    margin-left: 10px;
}

.ides{
    margin-left: 10px;
}

.ing{
    margin-top: 10px;
    margin-left: 22px;
    line-height: 1.6rem;
}

.solid{
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(236, 236, 236);
}

.instructions{
    margin-top: 10px;
    margin-left: 2rem;
    line-height: 1.2rem;
    font-size: .75rem;
}

.instructions p{
    margin-bottom: .4rem;
}

#nutr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
    font-family: var(--font-family-O);
    font-size: .77rem;
}

.item:not(.Iah,.Ibh){
    border-bottom: 1px solid rgb(236, 236, 236);
}

.item{
    padding: .5rem;
    text-align: left;
}

.Ia ,.Iah{
    color: var(--Stone600);
    font-weight: var(--weight4);
}

.Ib ,.Ibh{
    color: var(--Brown800);
    font-weight: var(--weight7);
}

.attribution{   
    font-family: var(--font-family-O);
    margin-bottom: 15px;
}

@media (max-width:470px)

{
    body{
        background-color: var(--White);
    }

    .background{
        width: 100vw;
        background-color: var(--White) ;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        border-radius: 0;
        max-width: 100%;
    }
    
    .text{
        padding: 2rem 2rem 5rem 2rem;
    }

    h1{
        font-family: var(--font-family-Y);
        font-size: 2.2rem;
        line-height: 2.1rem;
        margin-bottom: 1rem;
    }
    
    p{
        font-size: 1rem;
        text-align:left
    }
    
    h3{
       font-size: 1.15rem;
    }
    
    .time{
        line-height: 1.6rem;
    }
    
    li::marker{
        font-size: .8rem;
    }
    
    ul{
       font-size: 1.06rem;
    }
    
    .bdes{
        margin-left: 0;
        line-height: 1.8rem;
    }
    
    .mob{
        display: block;
        margin-left: 15px;
    }

    .ides{
        display: block;
        margin-left: 15px;
    }

    h2{
        font-size: 1.8rem;
    }
    
    .ing{
        line-height: 1.8rem;
    }
    
    .instructions{
        margin-top: 10px;
        margin-left: 2rem;
        line-height: 1.3rem;
        font-size: 1.02rem;
    }
    
    #nutr{
        font-size: 1.02rem;
    }

    .item{
        font-size: 1rem;
    }
    
    .Ib,.Ibh{
        text-align: left;
    }
    
    .Ia ,.Iah{
        margin-left: 1.5rem;
    }
    
    .attribution{
        width: 80vw;
        background-color: rgb(236, 236, 236);
        border-radius: 10px;
        padding: .5rem;
    }
}